.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#sosmed {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sosmed li {
  position: relative;
  background: #fff;
  width: 90px;
  height: 90px;
  margin: 0 20px;
  border: 3px solid;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

#sosmed li a .bi {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sosmed li:nth-child(1) {
  color: #d72888;
}
#sosmed li:nth-child(1) a .bi {
  color: #d72888;
}

#sosmed li:nth-child(2) {
  color: #38a1f3;
}
#sosmed li:nth-child(2) a .bi {
  color: #38a1f3;
}

#sosmed li:nth-child(3) {
  color: #000;
}
#sosmed li:nth-child(3) a .bi {
  color: #000;
}

#sosmed li:hover:nth-child(1) {
  background: #d72888;
}
#sosmed li:hover:nth-child(2) {
  background: #38a1f3;
}
#sosmed li:hover:nth-child(3) {
  background: #000;
}

#sosmed li .bi:nth-child(1) {
  left: -50%;
  opacity: 0;
}
#sosmed li:hover .bi:nth-child(1) {
  left: 50%;
  opacity: 1;
  color: #fff;
}
#sosmed li:hover .bi:nth-child(2) {
  left: 150%;
  opacity: 0;
  color: #fff;
}
#sosmed li:hover .bi:nth-child(3) {
  left: 50%;
  opacity: 1;
  color: #fff;
}
